PREFIX=v

DISCORD_TOKEN=

# "development" or "production"
NODE_ENV=development

# the main guild id
GUILD_ID=

CONTRIBUTOR_ROLE_ID=

# for bot testing
DEV_CHANNEL_ID=

SUPPORT_CHANNEL_ID=
BOT_CHANNEL_ID=

# Anyone with this role will be allowed to perform moderator actions (mute, ban, etc)
MOD_PERMS_ROLE_ID=
# Representative moderator role, will be pinged in modmails
MOD_ROLE_ID=
MOD_LOG_CHANNEL_ID=

# for community content pass
COMMUNITY_CATEGORY_CHANNEL_ID=
COMMUNITY_POST_PASS_ROLE_ID=

MOD_MAIL_CHANNEL_ID=
MOD_MAIL_LOG_CHANNEL_ID=
MOD_MAIL_BAN_ROLE_ID=

## Needed for GitHub link command
# Used for http server users will be redirected to
HTTP_SERVER_LISTEN_PORT=8152
HTTP_DOMAIN=http://127.0.0.1:8152
# GitHub Oauth app credentials. Used for verifying users https://github.com/settings/developers
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
# Github Personal Access Token. Used to check if user is sponsoring you https://github.com/settings/tokens/new
GITHUB_PAT=

# just leave this unchanged
DATABASE_URL=./data/db.sqlite3
